<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- Font Awesome -->
    <link rel="stylesheet" href="css/all.min.css" />
    <!-- CSS Normalized -->
    <link rel="stylesheet" href="css/normalized.css" />
    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />

    <title>Hello, world!</title>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row flex-nowrap">
        <%- include('./sidebar.ejs')%>
        <div class="col py-3">
          <div
            class="education d-flex justify-content-md-end align-items-center"
          >
            <div class="container">
              <table class="table shadow p-3 caption-top">
                <h1>Services</h1>
                <thead>
                  <tr class="p-3">
                    <th scope="col">#</th>
                    <th scope="col">Services</th>
                    <th scope="col">Description</th>
                    <th scope="col">Update</th>
                    <th scope="col">Delete</th>
                  </tr>
                </thead>
                <tbody>
                  <% for(var index = 0; index < services.length ; index++) { %>
                  <tr class="p-5 my-3">
                    <th scope="row"><%= index + 1 %></th>
                    <td><%= services[index].name%></td>
                    <td><%= services[index].description%></td>

                    <td>
                      <a
                        href=""
                        data-bs-toggle="modal"
                        data-bs-target="#exampleModalUpdate<%=services[index]._id%>"
                        ><i class="fas fa-pen"></i
                      ></a>
                    </td>
                    <td>
                      <a
                        href=""
                        class="text-danger"
                        data-bs-toggle="modal"
                        data-bs-target="#exampleModalDelete<%=services[index]._id%>"
                        ><i class="fas fa-trash-alt"></i
                      ></a>
                    </td>
                  </tr>

                  <!-- start Update Modal -->
                  <div
                    class="modal fade position-fixed"
                    id="exampleModalUpdate<%=services[index]._id%>"
                    tabindex="-1"
                    aria-labelledby="exampleModalUpdate<%=services[index]._id%>"
                    aria-hidden="true"
                  >
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabelUpdate">
                            Update Service
                          </h5>
                          <button
                            type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Close"
                          ></button>
                        </div>
                        <div class="modal-body">
                          <div class="m-4">
                            <form action="/services/update" method="post">
                              <input
                                type="hidden"
                                name="id"
                                value="<%=services[index]._id%>"
                              />

                              <div class="mb-3">
                                <label class="form-label" for="inputName"
                                  >Services</label
                                >
                                <input
                                  type="text"
                                  class="form-control"
                                  id="inputName"
                                  placeholder="Service"
                                  name="name"
                                  value="<%=services[index].name%>"
                                />
                              </div>
                              <div class="mb-3">
                                <label class="form-label" for="inputDescription"
                                  >Services Description</label
                                >
                                <input
                                  type="text"
                                  class="form-control"
                                  id="inputDescription"
                                  placeholder="Service Description"
                                  name="description"
                                  value="<%=services[index].description%>"
                                />
                              </div>
                              <div class="modal-footer">
                                <button
                                  type="button"
                                  class="btn btn-light"
                                  data-bs-dismiss="modal"
                                >
                                  Cencel
                                </button>
                                <button
                                  type="submit"
                                  class="btn btn-primary"
                                  data-bs-dismiss="modal"
                                >
                                  Save Update
                                </button>
                              </div>
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- End Update Modal -->

                  <!-- Start Delete Modal -->
                  <div
                    class="modal fade position-fixed"
                    id="exampleModalDelete<%=services[index]._id%>"
                    tabindex="-1"
                    aria-labelledby="exampleModalDelete<%=services[index]._id%>"
                    aria-hidden="true"
                  >
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <button
                            type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Close"
                          ></button>
                        </div>
                        <div class="modal-body">
                          <div class="m-4">
                            <h3>Are You Sure You Want Delete</h3>
                          </div>
                        </div>
                        <form action="/services/delete" method="post">
                          <div class="modal-footer">
                            <input
                              type="hidden"
                              name="id"
                              value="<%=services[index]._id%>"
                            />
                            <button
                              type="button"
                              class="btn btn-light"
                              data-bs-dismiss="modal"
                            >
                              Cencel
                            </button>
                            <button
                              type="submit"
                              class="btn btn-danger"
                              data-bs-dismiss="modal"
                            >
                              Delete
                            </button>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                  <!-- End Delete Model -->

                  <% }%>
                </tbody>
              </table>
              <!-- Button trigger modal -->
              <button
                type="button"
                class="btn btn-primary"
                data-bs-toggle="modal"
                data-bs-target="#exampleModal"
              >
                Add Services
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Add Modal -->
    <div
      class="modal fade position-fixed"
      id="exampleModal"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Add Services</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <div class="m-4">
              <form action="/services/add" method="post">
                <div class="mb-3">
                  <label class="form-label" for="inputName">Services</label>
                  <input
                    type="text"
                    class="form-control"
                    id="inputName"
                    placeholder="Services"
                    name="name"
                  />
                </div>
                <div class="mb-3">
                  <label class="form-label" for="inputDescription"
                    >Services Description</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="inputDescription"
                    placeholder="Service Description"
                    required
                    name="description"
                  />
                </div>
                <!-- </div> -->
                <div class="modal-footer">
                  <button
                    type="button"
                    class="btn btn-light"
                    data-bs-dismiss="modal"
                  >
                    Cencel
                  </button>
                  <input
                    type="submit"
                    class="btn btn-primary"
                    data-bs-dismiss="modal"
                    value="Save"
                  />
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- End Add Modal -->
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
